<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Início</a>
      </li>
      <li>
        <a href="/quem_somos"><span class="glyphicon glyphicon-user"></span> Quem Somos?</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Nossos Serviços <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="">Contabilidade</a></li>
            <li><a href="">Auditoria Contábil</a></li>
            <li><a href="">Especialista em Investimentos</a></li>
            <li class="divider"></li>
            <li><a href="">Técnico em Informática</a></li>
            <li><a href="">Programador</a></li>
            <li><a href="">Web Designer</a></li>
            <li class="divider"></li>
            <li><a href="">Tradutor Russo</a></li>
            <li><a href="">Tradutor Inglês</a></li>
            <li><a href="">Professor de Inglês</a></li>
            <li class="divider"></li>
            <li><a href="">Serviço de Courier</a></li>
            <li><a href="">Passeio com cães</a></li>
            <li class="divider"></li>
            <li><a href="">Antenista</a></li>
            <li><a href="">Instalador de Som</a></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="mailto:andradewagner@hotmail.com?Subject=Rio%20Service%20-%20Fale%20Conosco"><span class="glyphicon glyphicon-book"></span> Fale Conosco</a>
      </li>
    </ul>
  </div>
</nav>
