<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/time" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Rio Service - Uma infinidade de serviços do Rio em um só lugar</h1>
    <p>Somos uma equipe de amigos que a crise nos uniu para oferecermos serviços de qualidade de cada uma de nossas expertises</p>
    <a type="button" class="btn btn-lg btn-default" href="/time"><span class="glyphicon glyphicon-flash"></span> Conheça nosso time</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Precisa de um Contador, um Técnico em Informática, um Web Designer, um Boleiro, um Padeiro, um Especialista em Investimentos, um Patinador? Nós podemos te ajudar!
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Como nosso site surgiu?</h3>
      <p>Somos um grupo de amigos que já trabalhamos em grandes empresas e após o crescente número de desempregados, inclusive nós,
         resolvemos nos unir para oferecer a todos do Rio uma experiência em serviços jamais vista. Realmente o diferencial é nossa premissa.
      </p>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Próximos Passos</h3>
      <ul>
        <li>Encontrando o serviço que necessita, basta entrar em contato com e agendar uma visita</li>
        <li>Nossa missão é:</li>
        <ul>
          <li>Oferecer um serviço de busca prático, rápido e objetivo</li>
          <li>Oferecer serviços de qualidade com um preço competitivo</li>
        </ul>
        <li>Conheça o perfil de cada um de nós através do nosso LinkedIn</li>
        <li>Deixe todo o resto conosco e tenha a melhor experiência em busca de serviços já criada.</li>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Links Úteis</h3>
      <ul>
        <li><a href="http://www.globo.com" target="_blank">Globo.com</a></li>
        <li><a href="http://www.climatempo.com.br" target="_blank">Clima Tempo</a></li>
        <li><a href="http://www.google.com.br" target="_blank">Google</a></li>
        <li><a href="http://www.youtube.com" target="_blank">YouTube</a></li>
      </ul>
    </div>
  </div> <!-- row -->
   <% include ../partials/footer.ejs %>
</div>


</body>
</html>
