<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Um time com larga experiência, know-how e comprometimento!</h1>
    <p>
      Após a crise que assola o nosso país, resolvemos nos unir e oferecer uma gama de serviços, dos mais variados, e de qualidade!
    </p>
    <p>
      Nos unimos em um senso comum: Oferecer nossos serviços, com um preço competitivo, rápido, de qualidade e com um único objetivo: A sua satisfação!
    </p>
    <p>
      O perfil da maioria de cada um de nós pode ser visualizado no site LinkedIn. O "facebook" do profissional. O LinkedIn é uma ferramenta
        onde o profissional, de todo o mundo, cadastra o seu currículo e expõe sua capacidade para as empresas. A rede de contatos é compsta por
         profissionais, recrutadores e empresas de todo o mundo. No LinkedIn você pode verificar as empresas por onde passamos e nossas habilidades.
    </p>
  </div>
</div>
<div class="container">

   <% include ../partials/footer.ejs %>
</div>


</body>
</html>
