<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-2 text-center">
        <a href="https://www.linkedin.com/in/wagner-andrade-40304622/" target="_blank">
          <img class="time" src="../../images/wagner.png" />
          Wagner Andrade
        </a>
      </div>
      <div class="col-md-10">
        <p>
          Bacharel em Sistemas de Informação. Especialista na área de tecnologia, construção e suporte de sites de internet, consertos de computadores e notebooks.
        </br>
        Professor de Inglês
        </br>
        Instalador de equipamentos de vídeo, som e antenista
        </br>
        Praticante de patinação há 30 anos
        </br>
        Contato: (21) 9-8191-0687
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 text-center">
        <a href="https://www.facebook.com/natalietourguide" target="_blank">
          <img class="time" src="../../images/natalia.png" />
          Natalia Yurievna Kuznetsova
        </a>
      </div>
      <div class="col-md-10">
        <p>
          Sou Russa nativa. Faço traduções de e para: Russo, Português e Inglês.
        </br>
        Guia turística na cidade do Rio de Janeiro
        </br>
        Estudei Interpretação de Conferência na instituição de ensino CCE - PUC- Rio
        </br>
        Contato: (21) 9-8031-0425
        </p>
      </div>
    </div>

  </div>
</div>
<div class="container">
  <% include ../partials/footer.ejs %>
</div>


</body>
</html>
